body {
    font-family: sans-serif;
    background-color: #333333;
    margin-left: 30px;
    margin-top: 30px;
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ffffcc;
    font-size: 14px;
    padding: 20px 10px;
    border: 1px;
    margin-top: 15px;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

#btnActions{
    margin: 5px;
    padding: 10px
    border-radius: 5px;
    background-color: black;
}

#restaurantBlock{
    border: 1px;
    margin: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}